__pycache__/
*.py[cod]
*$py.class
backend/app/database/users.json
backend/predictions/*.png
backend/predictions/*.jpg
backend/uploads/*.png
backend/uploads/*.jpg
.env
data/
backend/trained_models/*.keras
backend/trained_models/*.pt
node_modules/
.venv/
*.log
train_*.png
package-lock.json
backend/backend_start.log
